.demo-block {
  padding: 16px;
}

h2 {
  font-size: 2rem;
  margin: .5rem 0;
}

.demo-btn {
  margin-right: 1rem;
}

.demo-icon{
  width: 3rem;
  height: 3rem;
}

.demo-progress{
  width: 20rem;
}

.demo-table{
  width: 50%;
}

.demo-tab{
  width: 50%;
}

.demo-card{
  width: 400px;
}

.demo-icons{
  display: inline-block;
  text-align: center;
  padding: 1rem 3rem 1rem 0;
}

.demo-input{
  width: 200px;
}